@font-face {
  font-family: 'Din-Alternate-Bold';
  src: url('../fonts/DIN Alternate Bold.ttf');
}

@font-face {
  font-family: 'D-Din-Bold';
  src: url('../fonts/D-DIN-Bold.otf');
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('../fonts/avenir-roman-opentype_bigfontsite.com.otf');
}

html {
  background-color: #333333;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


/* .grid {
  display: grid;
  grid-template-columns:  repeat(39, 2.65vw);
  grid-template-rows: repeat(30, 32px);
} */

.grid {
    margin: auto;
    display: grid;
    grid-template-columns:  repeat(39, 32.82px);
    grid-template-rows: repeat(30, 32px);
}

body {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  max-height: 960px;
  overflow: hidden;
  border-bottom: #73D695 solid 1rem;
}

#darkState {
  background: #00000077;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

#verticalForm {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: none;
  margin-top: 16px;
}

#verticalForm h1 {
  color: #FFFFFF;
  font-family: Din-Alternate-Bold;
}

#verticalForm div {
  padding-top: 16px;
}

input[type=text] {
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: inset -1px -2px 4px #87878781, inset 3px 3px 4px rgb(22, 22, 22), -1px -2px 4px #a5a5a585, 3px 3px 4px rgb(22, 22, 22);
  height: 32px;
  width: 192px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#username {
  padding-left: 16px;
}

#date{
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: inset -1px -2px 4px #87878781, inset 3px 3px 4px rgb(22, 22, 22), -1px -2px 4px #a5a5a585, 3px 3px 4px rgb(22, 22, 22);
  height: 32px;
  padding-left: 16px;
}

input[type=submit]{
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: -1px -2px 4px #a5a5a585, 3px 3px 4px rgb(22, 22, 22);
  height: 32px;
  width: 72px;
}

input[type=submit]:hover {
  box-shadow: inset -1px -2px 4px #87878781, inset 3px 3px 4px rgb(22, 22, 22), -1px -2px 4px #a5a5a585, 3px 3px 4px rgb(22, 22, 22);
  cursor: pointer;
}

.helpModal {
  background: url('../media/images/helpButtonImg.png') no-repeat, linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4674361861861862) 100%);
  background-position: center;
  border: .1rem solid #FFFFFF;
  box-shadow: -1px -2px 4px #ffffff8e, 3px 3px 4px rgba(22, 22, 22, 0.331);
  border-radius: 1rem;
  width: 822px;
  height: 560px;
  
  z-index: 11;

  grid-column-start: 8;
  grid-column-end: auto;
  grid-row-start: none;
  grid-row-end: 7;
}

#modalContainer {
  display: none;
  background: url('../media/images/googleImg.png') no-repeat, linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4674361861861862) 100%);
  background-position: center;
  border: .1rem solid #FFFFFF;
  box-shadow: -1px -2px 4px #ffffff8e, 3px 3px 4px rgba(22, 22, 22, 0.331);
  border-radius: 1rem;
  width: 822px;
  height: 560px;
  
  z-index: 10;

  grid-column-start: 8;
  grid-column-end: auto;
  grid-row-start: none;
  grid-row-end: 7;
}

#modal {
  display: flex;
  flex-direction: column;

  width: 648px;
  height: 560px;

  padding: 1rem 2rem;
}

#modalImage{
  position: relative;
  right: 1.5rem;
  top: 1rem;
  float: right;
  
  border-radius: 50%;
  box-shadow: -2px -3px 12px 1px#ffffff, 2px 3px 12px 4px #939393;

  width: 48px;
  height: 48px;

  z-index: 999;
}

#modalImage:hover {
  cursor: pointer;
  box-shadow: -2px -3px 12px -4px#b0b0b0, 2px 3px 12px 4px #b0b0b0;
}

#modal h1 {
  color: #505050;
  font-size: 48px;
  font-family: D-Din-Bold;
  margin: 1rem 0;
}

#modal h2 {
  color: #505050;
  font-size: 24px;
  font-family: Avenir-Roman;
  margin: 0;
  padding-bottom: 2rem;
}

#modal p {
  color: #505050;
  font-size: 24px;
  font-family: Din-Alternate-Bold;
  margin: 1rem 0;
  line-height: 2rem;
}

#helpLogo {
  grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: none;
}

#stockOne {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: none;
        grid-row-end: 28;
}

#googleLogo {
  grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 25;
        grid-row-end: none;
}

#googleLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockTwo {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: bottom;
        grid-row-end: 26;
}

#teslaLogo {
  grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 23;
        grid-row-end: none;
}

#teslaLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockThree {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: bottom;
        grid-row-end: 24;
}

#jnjLogo {
  grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 21;
        grid-row-end: none;
}

#jnjLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockFour {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 12;
        grid-column-end: 14;
        grid-row-start: bottom;
        grid-row-end: 22;
}

#msftLogo {
  grid-column-start: 12;
        grid-column-end: 14;
        grid-row-start: 19;
        grid-row-end: none;
}

#msftLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockFive {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 15;
        grid-column-end: 17;
        grid-row-start: bottom;
        grid-row-end: 18;
}

#appleLogo {
  grid-column-start: 15;
        grid-column-end: 17;
        grid-row-start: 15;
        grid-row-end: none;
}

#appleLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockSix {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 18;
        grid-column-end: 20;
        grid-row-start: bottom;
        grid-row-end: 14;
}

#gmeLogo {
  grid-column-start: 18;
        grid-column-end: 20;
        grid-row-start: 11;
        grid-row-end: none;
}

#gmeLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockSeven {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 21;
        grid-column-end: 23;
        grid-row-start: bottom;
        grid-row-end: 12;
}

#pfizerLogo {
  grid-column-start: 21;
        grid-column-end: 23;
        grid-row-start: 9;
        grid-row-end: none;
}

#pfizerLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockEight {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 24;
        grid-column-end: 26;
        grid-row-start: bottom;
        grid-row-end: 14;
}

#amznLogo {
  grid-column-start: 24;
        grid-column-end: 26; 
        grid-row-start: 11;
        grid-row-end: none;
}

#amznLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockNine {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 27;
        grid-column-end: 29;
        grid-row-start: bottom;
        grid-row-end: 18;
}

#nflxLogo {
  grid-column-start: 27;
        grid-column-end: 29;
        grid-row-start: 15;
        grid-row-end: none;
}

#nflxLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockTen {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 30;
        grid-column-end: 32;
        grid-row-start: bottom;
        grid-row-end: 14;
}

#nvdaLogo {
  grid-column-start: 30;
        grid-column-end: 32;
        grid-row-start: 11;
        grid-row-end: none;
}

#nvdaLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockEleven {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 33;
        grid-column-end: 35;
        grid-row-start: bottom;
        grid-row-end: 10;
}

#btcLogo {
  grid-column-start: 33;
        grid-column-end: 35;
        grid-row-start: 7;
        grid-row-end: none;
}

#btcLogo img {
  height: 65.64px;
  width: 65.64px;
}

#stockTwelve {
  background: linear-gradient(90deg, #8BFFB2 50%,#73D695 50%);
  grid-column-start: 36;
        grid-column-end: 38;
        grid-row-start: bottom;
        grid-row-end: 8;
}

#etherLogo {
  grid-column-start: 36;
        grid-column-end: 38;
        grid-row-start: 5;
        grid-row-end: none;
}

#etherLogo img {
  height: 65.64px;
  width: 65.64px;
}


.lit {
  box-shadow: -2px -2px 8px 1px#8fff7971, -3px -1px 8px 1px #8fff7971, 3px 0px 8px 1px #54ff766e, 2px -3px 8px 1px #54ff766e;
}

.neuShadow img {
  box-shadow: -2px -3px 12px -4px#9b9b9b, 2px 3px 12px 4px #000000;
  border-radius: 50%;
}

.neuShadow img:hover {
  cursor: pointer;
  box-shadow: -2px -3px 12px -4px#b0b0b0, 2px 3px 12px 4px #b0b0b0;
}


/* create modal from clicking on each stock */

/* program javascript to return clicks and inputs to console */

/* Instead of using images, code in a template for the pop-ups that will change 
depending on the date input */

/* Put an X on the cards so that the user has a way to exit the card viewing screen */

/* program javascript to display images in center of webpage upon clicking 
submit with inputs */

/* Help button required to let the user know what to do when they click it */

/* MEANINGFUL SOUNDS AHHHHHH! */



  



  
